<div ng-controller="HeroesController as HC">
    <header class="heroHeader">Heroes View</header>
    <div>
        <input type="text" placeholder="Hero Name" ng-model="HC.heroName">
        <input type="text" placeholder="Powers" ng-model="HC.powerNAme">
        <button ng-click="HC.submitButton()">Submit</button>
    </div>
    <br>
    <br>
    <table class="table">
        <thead>
            <tr>
                <td>Hero</td>
                <td>Powers</td>
                <td> </td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="hero in HC.displayArray">
                <td>TEST DATA - Captain Underpants</td>
                <td> powers go here </td>
                <td> <button ng-click="HC.deleteButton( hero.id )">Delete</button> </td>
            </tr>
        </tbody>
    </table>
    

</div>